.infoTooltip {
  max-width: 90%;
  color: white;
  position: relative;
}

.modal_content {
  max-width: 90%;
  background: white;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_image {
  width: 100%;
  max-width: 120px;
  height: 100%;
  max-height: 120px;
}

.modal_text {
  color: black;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
}

.modal__button-close {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 40px;
  position: absolute;
  top: -90px;
  left: 100%;
  transform: translateX(-50%);
}

.modal__button-close:hover {
  opacity: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .modal__button-close {
    left: 50%;
  }
}
