.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__button-login {
  margin-top: 200px;
  width: 93%;
  max-width: 300px;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
}

.form__button-login:hover {
  opacity: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
}
