body {
  width: 100%;
  min-height: 100dvh;
  background: black;
}

.page {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: black;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
